<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href="/css/losebiding.css">
    <title>Document</title>
</head>
  <div class="flex-container">
  <div class="pic"><img src="css/transport.png"></div>
  <div class="moto">You lose the bid. Please pay admin Rs.<%= loseamount%> before participating in other biddings.</div>
  <div class="btn"><form action="/trans" method="GET">
    <button type="submit" class="w3-button w3-border w3-hover-blue">Continue!!</button>
        </form>
  </div>

</div>
</body>
</html>